p{
   font-size: 10px;
    list-style: none;
    padding-left: 15px;
    padding-top: 15px;
    color: white;
}
.menu{
    background: rgba(8, 8, 88, 0.867);
   height: 60px;
}
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */