.back33{
    background-color: rgb(2, 2, 41);
    height: 100vh;
}

.head{
    text-align: center;
    color: white;
   padding-top: 150px;
}
.rck{
    text-align: center;
    margin-top: 60px;
    
}
.csk{
    height: 40vh;
}
.rcb{
    height: 40vh;
}